[submodule "themes/theme-academic-cv"]
	path = themes/theme-academic-cv
	url = https://github.com/HugoBlox/theme-academic-cv.git
[submodule "paige"]
	path = paige
	url = https://github.com/willfaught/paige.git
